<div class="main">
    <div (click)="routerToLink('/client/home')" [class.selected]="url === '/client/home'">Home</div>
    <div (click)="routerToLink('/client/blog-list')" [class.selected]="url === '/client/blog-list'">Blog List</div>
    <div [matMenuTriggerFor]="menu" class="user-name-item"><div>{{userName}}&nbsp;</div><div><mat-icon>expand_more</mat-icon></div></div>
</div>
<mat-menu #menu="matMenu">
    <button (click)="routerToLink('/client/logout')" mat-menu-item><mat-icon>logout</mat-icon> Logout</button>
  </mat-menu>