<br /><br />
<div class="register-tab">
    <div class="main centered">
        <h1>Register</h1>
    </div>
    <div class="main centered">

        <table>
            <tr>
                <td class="label">UserName</td>
                <td>
                    <input type="text" [(ngModel)]="userName">
                </td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td>
                    <input type="password" [(ngModel)]="userPassword">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="information">
                    Password should contains 1 Uppercase, 1 Digit and should be 8 character long
                </td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td>
                    <input type="text" [(ngModel)]="userEmail">
                </td>
            </tr>
            <tr>
                <td class="label">DOB</td>
                <td>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date"
                            (dateChange)="setDOB($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="information">
                    Date should be yyyy-mm-dd Format
                </td>
            </tr>


            <tr>
                <td class="label">About</td>
                <td>
                    <input type="text" [(ngModel)]="about">
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div class="centered"> <button (click)="signup()" mat-raised-button color="primary">Signup</button></div>
</div>
<br /><br />