/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
	background-image: url("src/assets/images/blog5.avif");


	/* doesn't allows the image to repeat */
	background-repeat: no-repeat;

	/* scales the image proportionally to cover the background */
	background-size: cover;

	/* centers the image in the center of the background */
	background-position: center;

	/*sets the height of the body to 100viewport height */
	height: 85vh;
}